// colors
$main-bg: #F2F8F9;
$main-text: #4DD7C8;
$main-textBL: #2e3d49;
$rate-star: #ECC81A;
$rate-star1: linear-gradient(90deg, #d0b430 0%, #ECC81A 70%, #DBE2E8 70%, #DBE2E8 100%);
$persent: #bcc9d4;
$rate: #7d97ad;



//text
$header: 'Open Sans Condensed', sans-serif;
