@import "_reset";
@import "_vars";
@import "_fonts";
@import "_qqq";
@import "_swttings";
@import "_mp_animation";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');

body {}

.hidden {
        display: none;
}

//----------------------------
// UNSER HEADER

.white_box {
    height: 100px;
}

.wrap_full_width_anderHeader {
    box-sizing:border-box;
    width: 100%;
    height: 520px;
    background: url(/img/computer-2242264_1920.jpg) no-repeat;
    background-size: cover;
    

    color: #fff;
    text-shadow: 2px 2px 8px rgb(65, 65, 65);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 60px;
    display: flex;
    align-items:center;
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
//    background-size: 50% 50% ;
    & .container {
        .round_button {
	       width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $main-text;
            position: absolute;
            bottom: -40px;
            cursor: pointer;
}
    }
    h1 {
        width: 100%;
        font-weight: 700;
        font-size: 50px;
        
    }
    p{
        margin-top: 20px;
        font-size: 25px;
        max-width: 900px;
        display: block;
        text-align: center;
        font-family: $header;
        padding: 5px;
    }
    .header_btns {
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        button {
            margin-top: 30px;
            
            width: 200px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: #fff;
            padding: 15px;
            border-radius: 5px;
            text-transform: uppercase;
            cursor: pointer;
            box-shadow: 8px 8px 8px 0px rgba(13, 39, 59, 0.15);
            transition: 0.3s;
            outline: none;
            &.subs {
                background-color: rgba(46, 61, 73, 0.13);
                border: 2px solid rgba(77, 215, 200, 0.56);
                margin-right: 20px;
                transition: 0.5s;
                
                &:hover {
                    background-color: rgba(77, 215, 200, 0.56);
                }
                
            } 
            &.test_less {
                border: none;
                background-color: $main-text;
                padding: 17px;
                transition: 0.5s;
                color: #fff;
                &:hover {
                    background-color: rgba(77, 215, 200, 0.56) ;
                    color: #fff;
                }
            }
            
            &:hover {
                
                box-shadow: 1px 3px 8px 0px rgba(46, 61, 73, 0.2);
                
            }
        }
    }
}





//----------------------------



form#form {
    padding: 50px 20px;
    background-color: #fff;
    max-width: 320px;
    margin: auto;
    position: relative;
    input {
        width: 100%;
        margin-bottom: 10px;
    }
    textarea {
        width: 100%;
        
    }
    select {
        width: 110px;
        height: 20px;
        
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapp_full_width {
    background-color: $main-bg;
}

.comments_wrapp {
    
    .comments_nav {
        margin-top: 15px;
        a {
            text-decoration: none;
            position: relative;
            color: $main-text;
            font-family: $header;
            font-size: 20px;
            text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
            transition: 0.2s;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            
            &:first-child::before {
                content: " \2190  ";
                position: relative;
                left: 0px;
                transition: 0.3s;
            }
            &:last-child::after {
                content: " \2192  ";
                position: relative;
                left: 0px;
                transition: 0.3s;
            }
            
            &:hover {
                text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
            }
            &:hover::before {
                left: -5px;
            }
            &:hover::after {
                left: 5px;
            }
            
        }
        
        
    }
    
    
    
    
    //    background-color: #ffebeb;
    padding: 50px 0;
    margin: 0 10px;
    h2 {
        color: $main-text;
        font-family: $header;
        font-size: 35px;
    }
    select {
        width: 250px;
        appearance: none;
        padding-left: 10px;
        option {
            background-color: transparent;
            padding: 5px;
        }
    }
    .comments_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items:stretch;
        h2 {
            margin-right: auto;
        }
        select {
            box-shadow: 5px 6px 13px 0px rgba(46,61,73,.15);
            border-radius: 0 5px 5px 0;
            border: NONE;
            outline: none;
            transition: 0.3s;
            &:hover {
                box-shadow: 1px 3px 8px 0px rgba(46, 61, 73, 0.2);
            }
        }
        a {
            text-decoration: none;
            background-color: $main-text;
            padding: 10px;
            color: #fff;
            font-family: $header;
            font-weight: 600;
            line-height: 30px;
            border-radius: 5px 0 0 5px;
            text-transform: uppercase;
            transition: 0.5s;
            box-shadow: 5px 6px 13px 0px rgba(46,61,73,.15);
            
            &:hover {
                background-color:#0585aa;
                box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
                }
        }
    }
    .comments {
        display: flex;
        flex-wrap: wrap;
        font-family: $header;
        //        margin: 0 -10px;
        //        background-color: #b48e8e;
        
        .rate {
            color: $rate;
            .after_preloader {
                color: #bcc9d4;
}
        }
        .comments_item {
            flex: 1 280px;
            //          width: 200px;
            //            border: 1px solid #000;
            border-radius: 5px;
            padding: 25px;
            margin: 10px;
            height: 250px;
            .comm_header {
                margin-bottom: 15px;
                justify-content: space-between;
                display: flex;
                .user_name {
                    font-size: 25px;
                    font-weight: bold;
                    display:block;
                    position: relative;
//                    background-color: red;
                    padding: 10px;
                    overflow: hidden;
                    transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
                    &::after{
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $rate-star;
                        content: "";
                        border-bottom: 1px solid #fff500;
                        transform: translate3d(-101%,0,0);
                        transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
                    
                    }
                    
                }
            }
            
            p {
                word-wrap: break-word;
            }
            .comments_header {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                .votes_num {
                    font-size: 55px;
                    margin-right: 10px;
                }
                .votesAmount {
                    margin-left: 10px;
                }
            }
            .stars_container {
                display: flex;
                flex-direction: column-reverse;
                .preloader_item {
                    display: flex;
                    margin-bottom: 10px;
                    align-items: flex-end;
                    justify-content: center;
                    .rate_preloader {
                        height: 20px;
//                        flex: 1;
                        width: 60%;
                        background: $rate-star1;
                        border-radius: 5px;
                        position: relative;
                        margin: auto;
                        margin-bottom: 5px;
                        margin: 0 10px;
                        .amount_rate {
                            position: absolute;
                            left: 10px;
                            top: 3px;
                            color: #fff;
                            font-weight: bold;
                            font-size: 15px;
                        }
                    }
                    .before_preloader {
                        width: 20%;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-align: right;
                        margin-right: 5px;
                    }
                    .after_preloader {
                        width: 20%;
                        font-size: 16px;
                        font-weight: 600;
}
                }
                
            }
            .data_post {
                margin-top: auto;
            }
            
            &:hover .user_name::after {
                transform: translate3d(0,0,0);
            }
        }
        .comment {
            box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
            background-color: white;
            transition: all 0.3s ease;
            cursor: pointer;
            color: $main-textBL;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: auto;
            &:hover {
                box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
            }
        }
    }
    .comments_nav {
        display: flex;
        justify-content: space-between;
    }
    .startest {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-image: url(../img/star-rating1.png);
        background-position: 0 0;
        //        background-size: 85.71428% 85.71428%;
    }
    .startest-active {
        background-position: 0 17px;
    }
}